* {
  all: initial;
  font-family: "JetBrainsMono Nerd Font";
  font-feature-settings: '"zero","ss01","ss02","ss03","ss04","ss05","cv31"';
  font-size: 14px;
  color: #d3c6aa;
  min-height: 25px;
}

#custom-apps {
  background-color: #a7c080;
  color: #1e2326;
  padding: 5px 8px 5px 12px;
  margin: 5px 5px 0 5px;
  border-radius: 6px;
}

#workspaces {
  background-color: #272e33;
  padding: 5px 12px;
  margin: 5px 5px 0 5px;
  border-radius: 6px;
}

#workspaces button {
  padding: 0 10px;
}

#clock {
  background-color: #272e33;
  padding: 5px 12px;
  margin: 5px 5px 0 5px;
  border-radius: 6px;
}

#pulseaudio {
  background-color: #272e33;
  padding: 5px 12px;
  margin: 5px 5px 0 5px;
  border-radius: 6px;
}

#sys-tray {
  background-color: #272e33;
  padding: 5px 12px;
  margin: 5px 5px 0 5px;
  border-radius: 6px;
}

#tray menu {
  background: #272e33;
  padding: 5px 15px;
  border-radius: 6px;
}

#custom-notifications {
  background-color: #272e33;
  padding: 5px 8px 5px 12px;
  margin: 5px 5px 0 5px;
  border-radius: 6px;
}

#power-profiles-daemon {
  background-color: #272e33;
  padding: 5px 8px 5px 12px;
  margin: 5px 5px 0 5px;
  border-radius: 6px;
}

#custom-power {
  background-color: #272e33;
  padding: 5px 8px 5px 12px;
  margin: 5px 5px 0 5px;
  border-radius: 6px;
}
